@charset "UTF-8";



.order_wrap{
	width: 1200px;
	margin:0 auto;
}

.order_left_box{
	display:inline-block;
	width: 600px;
}

.order_font{
	font-weight: bolder;
}

.order_right_box{
	width:500px;
	height:300px;
	background-color:#f9f9f9;
	position: fixed;
	top: 45%;
	left: calc(53.1% + 42px);
}

.order_left_box_user_info{
	width: 600px;
	background-color: #f9f9f9;
	padding: 20px;
	box-sizing: border-box;
}

.order_left_box_prod_info{
	width: 600px;
	margin-top: 20px;
	background-color: #f9f9f9;
	padding: 20px;
	box-sizing: border-box;
}

.order_prod_items{
	display: flex;
	width: 500px;
	height: 100px;
	margin:0 auto;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

.order_prod_img{
	width:70px;
	height: 70px;
	margin-left: 10px;
}

.order_prod_img>img{
	display: block;
	width: 100%;
	height: 100%;
}

.order_prod_info{
	width:400px;
	height: 70px;
	margin-left: 20px;
}

.order_prod_publisher{
	font-size: 8px;
	margin-bottom: 5px;
}

.order_prod_name{
	margin-bottom: 5px;
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis;
}

.order_prod_price{
	font-weight: bolder;
}

.order_prod_allPrice_box{
	width: 500px;
	margin: 0 auto;
}

.order_prod_allPrice{
	font-weight: bolder;
	float: right;
}

.order_right_box_items{
	width: 400px;
	margin: 0 auto;
}

.order_right_box_list{
	display: flex;
	justify-content: space-between;
}

.border_top_1{
	border-top:1px solid #E0E0E0;
	margin-top:20px;
	padding-top: 10px;
}

.allPrice_buy_btn{
	position:absolute;
	bottom:0;
	left:0;
	width: 100%;
	height:80px;
	background-color: black;
	color: white;
}

