@charset "UTF-8";

.qna_wrap{
	margin-bottom:290px;
}

.qna_cont{
	padding:50px 0 50px 0;
	width: 600px;
	margin: 0 auto;
	margin-top:100px;
	border: 1px solid #000000;
}


.qna_cont div{
	width:500px;
	margin:0 auto;
}

.qna_cont input[type="submit"]{
	display:block;
	width:120px;
	height:50px;
	font-size:15px;
	background-color: #000000;
	color:white;
	margin-top: 20px;
}